{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<style>
  body {
    font-family: Arial, sans-serif;
  }
  .card-title, .card-text, h3, h4 {
    font-family: Arial, sans-serif;
  }
  .card-text {
    font-size: 12px; 
    word-spacing: 0.08em;
    line-height: 1.5; 
    text-align: left;
    margin-top: 10px; 
  }
</style>
z 

<section class="container text-center">
  <h3>Welcome {{request.user.username|title}}</h3>
  <h4 style="text-align: center; margin-bottom: 30px;">Recommended Courses</h4>

  <!-- Recommended Courses Section -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/lectures.jpg' %}" class="card-img-top" alt="Course 1">
        <div class="card-body">
          <h5 class="card-title">Programming with HTML and CSS</h5>
          <p class="card-text">HTML structures the content of a webpage, while CSS styles and arranges that content to improve its visual presentation and user experience. Together, they form the foundational technologies for building and designing websites.</p>
          <a href="#" class="btn btn-primary">View Course</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/modern react.jpg' %}" class="card-img-top" alt="Course 2">
        <div class="card-body">
          <h5 class="card-title">Modern React with Redux</h5>
          <p class="card-text">Modern React with Redux focuses on building scalable, maintainable web applications using React for the UI and Redux for state management.</p>
          <a href="#" class="btn btn-primary">View Course</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/Django.jpeg' %}" class="card-img-top" alt="Course 3">
        <div class="card-body">
          <h5 class="card-title">Backend Development with Python & Django</h5>
          <p class="card-text">Backend Development with Python & Django involves creating robust and scalable server-side applications.</p>
          <a href="#" class="btn btn-primary">View Course</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/python.jpeg' %}" class="card-img-top" alt="Course 4">
        <div class="card-body">
          <h5 class="card-title">Programming in Python</h5>
          <p class="card-text">Python is a high-level, interpreted programming language known for its simplicity and readability.</p>
          <a href="#" class="btn btn-primary">View Course</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/software.jpeg' %}" class="card-img-top" alt="Course 5">
        <div class="card-body">
          <h5 class="card-title">Software Development</h5>
          <p class="card-text">The process of designing, coding, testing, and maintaining software applications or systems.</p>
          <a href="#" class="btn btn-primary">View Course</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/network.jpeg' %}" class="card-img-top" alt="Course 6">
        <div class="card-body">
          <h5 class="card-title">Networking and Management</h5>
          <p class="card-text">Networking and Management involves creating robust and scalable network infrastructure.</p>
          <a href="#" class="btn btn-primary">View Course</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  
  <br><br><br>

  <hr>

  <!-- Card Section 1 -->
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title">Notes</h5>
            <p class="card-text">Create Notes to refer them later. They are stored permanently until deleted.</p>
          </div>
        </div>
      </a>
    </div>
   
    <div class="col-md-3">
      <a href="{% url 'homework' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Homework image">
          <div class="card-body">
            <h5 class="card-title">Homework</h5>
            <p class="card-text">Add homeworks and assign them deadlines. They will be displayed prioritized by deadlines.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="YouTube image">
          <div class="card-body">
            <h5 class="card-title">YouTube</h5>
            <p class="card-text">Search YouTube and select your desired video to play it on YouTube.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'tasks' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="To-Do image">
          <div class="card-body">
            <h5 class="card-title">To-Do</h5>
            <p class="card-text">Add your to-do lists for your day and remove them as you finish.</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <br><br><br>

  <!-- Card Section 2 -->
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Books image">
          <div class="card-body">
            <h5 class="card-title">Books</h5>
            <p class="card-text">Browse books from a list of neatly organized book menu.</p>
          </div>
        </div>
      </a>
    </div>
   
   
   
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpg' %}" alt="Dictionary image">
          <div class="card-body">
            <h5 class="card-title">Dictionary</h5>
            <p class="card-text">A vocabulary from a book is troubling you? No problem, enter the word, and the meaning will be displayed almost instantaneously.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.jpg' %}" alt="Wikipedia image">
          <div class="card-body">
            <h5 class="card-title">Wikipedia</h5>
            <p class="card-text">Homework and assignments? Search Wikipedia to get fast results.</p>
          </div>
        </div>
      </a>
    </div>
   
   
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.jpg' %}" alt="Conversion image">
          <div class="card-body">
            <h5 class="card-title">Conversion</h5>
            <p class="card-text">Check out the conversion table, which helps you convert measurements to more familiar ones of your choice.</p>
          </div>
        </div>
      </a>
    </div>
  </div>


</section>

{% endblock content %}
