{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About - Elearning Website</title>
  <link rel="stylesheet" href="{% static 'styles/style1.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
  <div class="header">
    <nav>
      <div class="logo">
        <img style="height: 62px; width: 90px;" src="{% static 'images/logo1.jpg' %}" alt="logo">
        E- <span>Learning</span>
      </div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'course' %}">Courses</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <div class="menu">
        <li>
          <a href="#"><i class="fa fa-bars"></i></a>
        </li>
      </div>
    </nav>
  </div>

  <section class="main-section">
    <div class="title">
      <h2>About Us</h2>
    </div>
    <div class="main">
      <img src="{% static 'images/about.png' %}" alt="About Us Image" style="width: 50%; height: auto;">
      <div class="about-text">
        <h2>We Are E-Learning</h2>
        <h5>Innovative Learning Platform</h5>
        <p>In the realm where knowledge flows, through digital paths, where wisdom grows, we bridge the gap, from near to far, a world of learning whereever you are. With each new course, a door unlocks, to curious minds, like ticking clocks, together we journey, explore and findthe endless wonders of the human mind. take your vitrual learning space and build your bright future.</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="end">
      <p>&copy; 2024 E-Learning. All rights reserved.</p>
    </div>
  </footer>

  <script src="script.js"></script>
</body>

</html>
