{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Courses - Elearning Website</title>
  <link rel="stylesheet" href="{% static 'styles/style1.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
  <div class="header">
    <nav>
      <div class="logo">
        <img style="height: 50px; width: 50px;" src="{% static 'images/logo1.jpg' %}" alt="logo">
        E- <span>Learning</span>
      </div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'course' %}">Courses</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <div class="menu">
        <li>
          <a href="#"><i class="fa fa-bars"></i></a>
        </li>
      </div>
    </nav>
    <div>
      <img style="height: 475.8px; width: 1217.3px; margin-left: auto; margin-right: auto;object-fit: cover;" src="{% static  'images/thumnail.jpg' %}" alt="">
    </div>
  </div>

  <section class="main-section">
    <div class="title">

      <h2>Our Courses</h2>
    </div>

    <!-- courses -->
    <div class="course-list">

      <!-- first_course -->
      <div class="course" style()>
        <div class="video">
          <video width="320" height="240" controls>
            <source src="path_to_video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="description">
          <h3>Python Programming</h3>
          <p>Description for Python Programming.</p>
        </div>
      </div>


      <div class="course" style()>
        <div class="video">
          <video width="320" height="240" controls>
            <source src="path_to_video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="discription">
          <h3>Networking and Management </h3>
          <p>Description for Networking and Management.</p>
        </div>
      </div>




      <div class="course" style()>
        <div class="video">
          <video width="320" height="240" controls>
            <source src="path_to_video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="discription">
          <h3>Java Programming </h3>
          <p>Description for Java Programming</p>
        </div>
      </div>

      
      <div class="course" style()>
        <div class="video">
          <video width="320" height="240" controls>
            <source src="path_to_video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="discription">
          <h3>Mathematics</h3>
          <p>Description for Mathematics.</p>
        </div>
      </div>

      <div class="course" style()>
        <div class="video">
          <video width="320" height="240" controls>
            <source src="path_to_video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="discription">
          <h3>Computer Organization</h3>
          <p>Description for Computer Organization.</p>
        </div>
      </div>
    <div>

      <div class="course" style()>
        <div class="video">
          <video width="320" height="240" controls>
            <source src="path_to_video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="discription">
          <h3>Data Analysis</h3>
          <p>Description for Data Analysis.</p>
        </div>
      </div>
    <div>
  </section>

  <footer>
    
    <div class="end">
      <p>&copy; 2024 E-Learning. All rights reserved.</p>
    </div>
  </footer>

  <script src="script.js"></script>
</body>

</html>
