{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Elearning Learning</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Embedded CSS for Center-Aligning the Navigation Menu -->
  <style>
    
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    nav ul li {
      margin: 0 20px; 
    }

    nav ul li a {
      text-decoration: none;
      color: #f2f2f2; 
      font-weight: bold; 
      font-size: 18px; 
    }


    nav .logo {
      text-align: left;
      flex: 1;
    }

    nav .logo img {
      height: 75px; 
      width: 100px;
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333; 
      padding: 15px 25px; 
    }

    /* Styling for the logo text */
    .logo span {
      font-weight: bold;
      color: #f2f2f2; 
      font-size: 22px; 
    }
  </style>
</head>

<body style="background-color: #333;">
  <nav>
    <div class="logo">
      <img src="{% static 'images/logo1.jpg' %}" alt="logo">
      <span>E-</span><span>Learning</span>
    </div>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
  </ul>


  </nav>

  <!-- This section contains the various services and about -->
  <section class="main-section">
    <div class="main">
      <img  style="height: 500px; width: 500px" src="{% static 'images/bryan.jpg' %}" alt="">
      <div class="about-text">
        <h2>Our Lecturers</h2>
        <h5>Flexible Learning <span>& Certified Instructors</span></h5>
        <p>Step into a world, where knowledge thrives, A place where curious minds can rise. Learn at your own pace, your own time. 
          Discover new skills, let your passion climb. Here every lesson's a step you take, Toward a brighter future in the path you
          make.
          Welcome Learner, your journey begins take knowledge in hand.</p>
        <a href="signup"><button type="button">Start Learning</button></a>
      </div>
    </div>
  </section>

  <!-- New section for the various services offered -->
  <div class="service">
    <div class="title">
      <h2>Our Services</h2>
    </div>

    <div class="box">
      <div class="card">
        <i class="fa-solid fa-bars"></i>
        <h5>Expert-led Courses</h5>
        <div class="pra">
          <p>
            Learn from industry experts with courses designed to
            provide you with the real-world skills and knowledge.
            Our instructors are professionals with years of experience
            in their fields.
          </p>

          <p style="text-align: center;">
            <a href="#" class="button">
              Read More
            </a>
          </p>
        </div>
      </div>

      <div class="card">
        <i class="fa-regular fa-user"></i>
        <h5>Expert-led Courses</h5>
        <div class="pra">
          <p>
            Learn from industry experts with courses designed to
            provide you with the real-world skills and knowledge.
            Our instructors are professionals with years of experience
            in their fields.
          </p>
          <p style="text-align: center;">
            <a href="#" class="button">
              Read More
            </a>
          </p>
        </div>
      </div>

   
      <div class="card">
        <i class="fa-regular fa-bell"></i>
        <h5>Expert-led Courses</h5>
        <div class="pra">
          <p>
            Learn from industry experts with courses designed to
            provide you with the real-world skills and knowledge.
            Our instructors are professionals with years of experience
            in their fields.
          </p>
          <p style="text-align: center;">
            <a href="#" class="button">
              Read More
            </a>
          </p>
        </div>
      </div>

      <div class="card">
        <i class="fa-solid fa-cart-shopping"></i>        
        <h5>Expert-led Courses</h5>
        <div class="pra">
          <p>
            Learn from industry experts with courses designed to
            provide you with the real-world skills and knowledge.
            Our instructors are professionals with years of experience
            in their fields.
          </p>
          <p style="text-align: center;">
            <a href="#" class="button">
              Read More
            </a>
          </p>
        </div>
 
      </div>
    </div>
    <!-- Contact us at -->
    <div class="contact-us">
      <p>Join A Vibrant Community Of Learners</p>
      <a href="" class="button-two">Enroll now!</a>
    </div>
    <!-- footer-start of the website -->
    <footer>
      <p>Eduflectra.com</p>
      <p>
        More about our courses - please click on the link below to
        enroll in one of our courses
      </p>
    
      <p class="end">CopyRight By Group6</p>
    </footer>
  
  </body>

  </html>
