{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Eduflectra</title>
    <link rel="stylesheet" href="{% static 'signup/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <style>
      .error-message {
        color: #ff4d4d;
        font-size: 14px;
        margin-bottom: 15px;
        background-color: #ffe6e6;
        border: 1px solid #ff4d4d;
        padding: 10px;
        border-radius: 5px;
        animation: fadeout 7s forwards;
      }

      @keyframes fadeout {
        from {
          display: block;
        }

        to {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div><button 
        style="border-radius:25px;
         background-color:goldenrod"
             onclick="changeColor()">
            <i>
                <b>
         On/Off
            </b>
        </i>
        </button>
    </div>
      <color id="text">
      </color>
      <script>
          function changeColor(){
                const body=document.body;
                const text=document.getElementById("text");
                if (body.style.backgroundColor==="black"){
                  body.style.backgroundColor="";
                  text.style.color="";
                }else {
                  body.style.backgroundColor="black";
                  text.style.color="white";
                }
          }
      </script>
    <div class="main">
      
        <div class="logo-container">
          <img
            src="{% static 'signup/Elearning-logo.jpeg' %}"
            alt="Eduflectra Logo"
          />
        </div>
        <div class="form-container">
          {% for message in messages %}
          <div class="error-message" id="login-error">{{message}}</div>
          {% endfor %}
          <form id="login-form" class="active" method="POST" action="login">
            {% csrf_token %}
            <h2>Login</h2>
            <input type="text" placeholder="Username" name="username" required />
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="signup">Signup</a></p>
          </form>
        </div>
      </div>
    </div>
        </body>
      
      </html>
    
