* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
  }
  .header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../images/background3 (1).jpg');
    background-size: cover;
    background-position: top;
  }
  .header2{
    display: black;
    /* justify-content: space-between; */
    align-items: center;
  }
  nav {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-right: 10%;
    padding-left: 10%;
    /* position: fixed; */
    z-index: 99;
    margin-bottom: 20px;
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  nav ul li {
    display: inline;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a {
    /* text-decoration: none; */
    color: black;
    font-weight: bold;
    padding: 10px 15px;
  }
  nav ul li a:hover {
    color: #ea1538;
    transition: 0.3s;
  }
  .logo {
    color: white;
    font-size: 28px;
  }
  span {
    color: #ea1538;
  }
  .menu {
    width: 150px;
    height: 50px;
    background-color: #ea1538;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px 30px;
    transition: 0.4s;
    font-weight: bold;
  }
  .menu li {
    list-style: none;
  }
  .menu li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  .menu:hover {
    transform: scale(1.1);
    color: white;
    transition: 0.3s;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
  }
  .testimonial {
    position: absolute;
    margin-top: 40%;
  }
  h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 70px;
  }
  h3 {
    color: #a6afbe;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }
  h4 {
    color: #585c63;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
  }
  .newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
  }
  .newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #868686;
    top: 6px;
    right: 6px;
  }
  .main-section {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
  }
  .main-section img {
    height: auto;
    width: 530px;
  }
  .about-text {
    width: 550px;
  }
  .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  .about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  }
  button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
  }
  button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
  .service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
    /* display: flex; */
  }
  
  .title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
  .card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: background-color .15s;
  }
  .card:hover{
    cursor: pointer;
    
    background-color: #504f4f;
  }
  .card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #f9004d;
  }
  h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
  }
  .pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
  }
  .card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
  }
  .card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
  .contact-us {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-us p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .contact-us .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
  }
  .contact-us .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
  footer{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
  footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  }
  .social{
    display: flex;
  }
  .social a{
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    font-size: 20px;
  }
  .social a:hover{
    transform: scale(1.3);
    transition: .3s;
  }
  .end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
  }

  